# Python 가상환경
venv/
__pycache__/
*.pyc

# VSCode 설정파일
.vscode/

# Django DB & 설정파일
*.sqlite3
*.log

# 환경변수 파일
.env

# pytest 캐시
.pytest_cache/
htmlcov/
coverage.xml

# macOS
.DS_Store

# 기타
*.swp
*.swo
*.bak
